<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>36912</h1>
<h1>SAI CHANDANA GAMINI</h1>


    <form method="post">

        <label>Enter the population range and the N value</label><br><br>
        <p>Low Population Value</p><input type="text" name="lat"><br><br>
        <p>High Population Value</p><input type="text" name="lon"><br><br>
        <p>N Value</p><input type="text" name="dis"><br><br>
        <input type="submit" value="submit"><br><br>

        <label>Enter the min and max of latitude and longitude</label><br><br>
        <p>Lower latitude</p><input type="text" name="magmin"><br><br>
        <p>Upper latitude</p><input type="text" name="magmax"><br><br>
        <p>Lower longitude</p><input type="text" name = "mintime"><br><br>
        <p>Upper longitude</p><input type="text" name="maxtime"><br><br>
        <input type="submit" name="submit"><br><br>

        <label>Insert Details</label>
        <p>City</p><input type="text" name="city"><br><br>
        <p>State</p><input type="text" name="state"><br><br>
        <p>Population</p><input type="text" name="pop"><br><br>
        <p>Latitude</p><input type="text" name="lati"><br><br>
        <p>Longitude</p><input type="text" name="long"><br><br>
        <input type="submit" name="submit"><br><br>

        <label>Remove Details</label><br><br>
        <p>City</p><input type="text" name="cities"><br><br>
        <p>State</p><input type="text" name="states"><br><br>
        <input type="submit" name="submit">


    </form>
</body></html>